alabaster==1.0.0
annotated-types==0.7.0
apparmor==4.0.3
attrs==23.2.1.dev0
autocommand==2.2.2
Babel==2.15.0
btrfsutil==6.13
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
crit==4.0
cryptography==44.0.2
cupshelpers==1.0
dbus-python==1.3.2
defusedxml==0.7.1
docutils==0.21.2
fastjsonschema==2.21.1
filelock==3.17.0
Glances==4.3.0.8
idna==3.10
imagesize==1.4.1
inflect==7.5.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
legacy-cgi==2.6.2
LibAppArmor==4.0.3
MarkupSafe==2.1.5
meson==1.7.0
more-itertools==10.6.0
nftables==0.1
ordered-set==4.1.0
orjson==3.10.15
packaging==24.2
platformdirs==4.3.6
ply==3.11
powerline-status==2.8.4
protobuf==5.29.3
psutil==7.0.0
pyaml==24.9.0
pycairo==1.27.0
pycparser==2.22
pycriu==4.0
pycups==2.0.4
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyGObject==3.50.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
pytz==2025.1
PyYAML==6.0.2
Reflector==2023.6.28.0.36.1
requests==2.32.3
roman-numerals-py==3.1.0
setuptools==75.8.0
shtab==1.7.2.dev0+g61ec99d.d20241116
smbus==1.1
snowballstemmer==2.2.0
speedtest-cli==2.1.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
TBB==0.2
termcolor==2.5.0
tldr==3.3.0
tomli==2.0.1
tqdm==4.67.1
trove-classifiers==2025.3.3.18
typeguard==4.4.2
typing_extensions==4.12.2
ufw==0.36.2
ujson==5.10.0
urllib3==2.3.0
validate-pyproject==0.23.post1.dev0+gf45606b.d20250111
wheel==0.45.0
